* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #f0f0f0;
	font-family: sans-serif, serif;
}
.centered {
	margin: 0 auto;
}
.signUp_heading{
	text-align: center;
	font-size: 3em;
	padding:30px;
}
.navbar{
	margin: 0;
	width: 100%;
	height: 60px;
	background-color: #6699ff; 
}

#logo{
	width:200px;
	padding-top: 9px;
	padding-left: 10px; 
	color: #fff;
	font-size: 2em;
}

#logo a{
    width: 200px;
}
#navlinks{
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}
#navlinks ul{
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navlinks ul li button{
    background-color: #6699ff;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#navlinks ul li{
    display: inline;
}
#logo a{
	text-decoration: none;
	color: #fff;
}
.main{
	margin: 0 auto;
	width: 90%;
	background-color: #fff;
}
.signup{
	margin: 0 auto;
	width: 80%;
}
.textBar{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
hr{
	margin-bottom: 30px; 
}
#signUpButton {
    width: 100%;
    background-color: #6688ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

#signUpButton:hover {
    background-color: #6699ff;
}
#logInButton {
    width: 100%;
    background-color: #6688ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}
#logInButton:hover {
    background-color: #6699ff;
}
.login{
	margin: 0 auto;
	width: 80%;
}
#usernameText{
    color: #fff;
    font-size: 1.5em;
}
#usernameContainer{
    float: right;
    padding: 17px;
}
