* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #f0f0f0;
	font-family: sans-serif, serif;
}
.navbar{
	margin: 0;
	width: 100%;
	height: 60px;
	background-color: #6699ff;
}

#logo{
	width:200px;
	padding-top: 9px;
	padding-left: 10px; 
	color: #fff;
	font-size: 2em;
}
#navlinks{
	padding-top: 20px;
	padding-right: 20px;
	float: right;
}
#navlinks ul{
	display: inline;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navlinks ul li button{
    background-color: #6699ff;
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
#navlinks ul li{
    display: inline;
}
#logo a{
	text-decoration: none;
	color: #fff;
}
.main{
	margin: 0 auto;
	width: 90%;
	background-color: #fff;
}